body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #c5b894;
}

h1, h2, h3, h4, h5 {
  font-family: Stencil !important;
}

a, a:active, a:focus {
  outline: none;
}

.navbar {
  margin-bottom: 0px;
}

/* ----- About Animations ----- */

.pattern {
  position: absolute;
  top: 0;
  left: 0;
}

.trucks {
  position: absolute;
  top: 0;
  left: 0;
}

.troop {
  position: absolute;
  top: 100px;
  left: 100px;
  max-height: 500px;
}

.text {
  position: absolute;
  top: 100;
  left: 100;
}

.zero-space-top {
  margin-top: 0;
  padding-top: 0;
}

.zero-space-bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}

.padding-top-20px {
  padding-top: 20px;
}

.margin-center {
  margin: 0 auto;
}

.margin-top-bottom-zero {
  margin-top: 0;
  margin-bottom: 0;
}

.space-bottom-50px {
  margin-bottom: 50px;
}

.margin-bottom-20px {
  margin-bottom: 20px;
}

.space-top-50px {
  margin-top: 50px;
}

.margin-top-20px {
  margin-top: 20px;
}

.space-top-20px {
  margin-top: 20px;
}

.margin-left-5px {
  margin-left: 5px;
}

.margin-top-10px {
  margin-top: 10px;
}

.margin-top-5px {
  margin-top: 5px;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.ul-styles {
  list-style: none;
}

.contactHeader {

}

.contactText {
  font-size: 18px;
  padding: 0;
  margin: 0;
}

.footer-para-text {
  margin-top: 30px;
  padding-left: 20px;
  color: #dddddd;
  font-size: 16px;
}

.footer-list-text {
  list-style: none;
}

.footer-link-text {
  color: #dddddd;
  font-size: 16px;
  text-decoration: none;
}

.navbar{
  border-radius:0 !important;
}

@media (min-width: 768px) {
  .text {
    position: absolute;
    top: 10;
    left: 10;
  }
}

/* ----- Form Styles ----- */

.btn-army {
  color: #dddddd;
  background-color: #333333;
  border-color: #000000;
}

.btn-army:focus,
.btn-army.focus {
  color: #dddddd;
  background-color: #000000;
  border-color: #333333;
}

.btn-army:hover {
  color: #ffffff;
  background-color: #000000;
  border-color: #333333;
}

.pagination > li > a
{
    background-color: transparent;
    color: #000000;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #ffffff;
    background-color: #333333;
    border-color: #000000;
}

.pagination > .active > a
{
    color: #ffffff;
    background-color: #333333;
    border: solid 1px #000000;
}

.pagination > .active > a:hover
{
    background-color: #000000;
    border: solid 1px #333333;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(135, 135, 136, 0.6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(135, 135, 136, 0.6);
}

select {    
  padding: 5px;
}

.custom {
  border: 1px solid #000000;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 25px;
  background: url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIPnI+py+0/hJzz0IruwjsVADs=) !important;
  background-repeat: no-repeat !important;
  background-position: 95% 42% !important;
}

.form-element {
  display: block;
  width: 100%;
  height: 50px;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #000000;
  background-color: transparent;
  background-image: none;
  border: 1px solid #000000;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-element:focus {
  border-color: #101010;
  color: #101010;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(135, 135, 136, 0.6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(135, 135, 136, 0.6);
}

.form-element::-moz-placeholder {
  color: #777777;
  opacity: 1;
}

.form-element:-ms-input-placeholder {
  color: #777777;
}

.form-element::-webkit-input-placeholder {
  color: #777777;
}

.form-element::-ms-expand {
  background-color: transparent;
  border: 0;
}

.form-element[disabled],
.form-element[readonly],
fieldset[disabled] .form-element {
  background-color: #777777;
  opacity: 1;
}

.form-element[disabled],
fieldset[disabled] .form-element {
  cursor: not-allowed;
}

textarea.form-element {
  height: auto;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-top: 1px solid #101010;
}

.table > thead > tr > th {
  border-bottom: 2px solid #101010;
}

/* ----- Menu Styles ----- */

.menu-item ul {
  font-size: 16px;
  line-height: 30px;
  list-style-type: none;
  overflow: hidden;
  padding: 0px;
}
 
.menu-item ul a {
  margin-left: 20px;
  color: #333333;
  text-decoration: none;
  display: block;
  width: 200px;
  text-decoration: blink;
}
 
/*li Styles
.menu-item li {
  border-bottom: 1px solid #eee;
}*/
 
.menu-item li a:hover {
  color: #ffffff;
  text-shadow: 1px 3px 6px #777777;
}

/* ----- About Animations ----- */

@media (min-width: 768px) {
  .text {
    position: absolute;
    top: 10;
    left: 10;
  }
}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {

}